@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.landing{
    font-family: 'Poppins';
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}

/*<=============== HEADER ===========>*/

.main{
    min-height: 100vh;
    min-width: 100vw;
    background-color: #E9f1EE; 
    padding: 3rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks{
    display: flex;
    align-items: center;
    margin-right: 4rem;
}
.navlinks li a{
    font-weight: 800;
    padding: 3.5rem;
    font-size: 1.5rem;
    color: rgb(27, 120, 52);
}
.navlinks li a:hover {
    color: #0a3d21; 
  } 
.logo-div{
    display: flex;
    align-items: center;
}
.logo{
    font-size: 2.2rem;
    color: rgb(24, 91, 64);
    padding-left: 1rem;
    padding-bottom: 0.55rem;
    font-weight: 600;
}
.logo:hover{
    color: #1a4105;
}
.button-65 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #37805a; /* Green */
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}
.button-65:hover {
    background-color: #3a6622; /* Darker green */
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(-2px); /* Move the button up slightly */
    transition-duration: .35s;
  }
  
  .button-65:hover:after {
    opacity: .5;
  }
  
  .button-65:active {
    background-color: #3a6622; /* Darker green */
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(0);
    transition-duration: .35s;
  }
  
  .button-65:active:after {
    opacity: 1;
  }

/*<=============== HERO ==============>*/

.hero{
    margin-top: 5.5rem;
    display: flex;
}
.hero--content{
    padding-top: 3rem;
    width: 50%;
}
.hero--content h1{
    font-size: 4rem;
    color: #195403; 
    font-weight: 700;
}
.hero--content p{
    padding: 2rem 0;
    color: rgb(25, 89, 46); 
    font-weight: 600;
}
.hero--img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero--img img{
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 2rem;
}
.circle{
    position: absolute;
    width: 20%;
    right: 0;
    bottom: 0;
}
.catchphrase{
    font-style: oblique;
}


